#ui {
    width: 800px;
    height: 600px;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

img.truck {
    position: relative;
    top: 80px;
    width: 100%;
}

#hud {
    position: fixed;
    top: 0;
    width: 800px;
    text-align: center;
}

#hud #time-left {
    text-align: center;
}

.crate {
    display: inline-block;
    width: 32%;
}

.crate.disabled {
    opacity: 0.5;
}

.crate img {
    width: 100%;
}

.crate .price {
    color: red;
}

.crate .reward {
    color: green;
}

.desc {
    border-top: 2px solid white;
    margin-top: 10px;
    padding-top: 10px;
}

#money {
    color: green;
}

.crate-placement {
    width: 100px;
    height: 100px;
    position: absolute;
}

.crate-placement.active {
    border: 5px solid green;
}

.crate-placement.pos-1 {
    left: 80px;
    top: 120px;
}

.crate-placement.pos-2 {
    left: 180px;
    top: 120px;
}

.crate-placement.pos-3 {
    left: 80px;
    top: 20px;
}

.crate-placement.pos-4 {
    left: 180px;
    top: 20px;
}

.crate-placement img {
    width: 100%;
}

.calc-row {
    text-align: center;
}

.bad {
    color: red;
}

.good {
    color: green;
}

.divider {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 1px;
    border-bottom: 2px solid white;

}
